@tailwind base;
@tailwind components;
@tailwind utilities;

.home-banner{
    width: 100%;
    height: 100vh;
    background-image: url('./assets/image/banner-home.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}